# -----------------------------
# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
**/build/
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies
ios/Flutter/Generated.xcconfig
ios/Pods/
app.*.symbols
app.*.map.json
flutter_export_environment.sh
*.apk
*.aab
*.ipa

# -----------------------------
# Node.js / Backend
node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/
.env
package-lock.json

# -----------------------------
# Python / AI backend
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.temp/
.temp_env/
.python-version
*.h5
*.keras
*.ipynb_checkpoints/
.pytest_cache/
*.log

# -----------------------------
# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.DS_Store
.atom/
.build/
.buildlog/
.history/
.migrate_working_dir/

# -----------------------------
# OS specific
Thumbs.db
desktop.ini
.env